# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
.idea/sonarlint/securityhotspotstore/b/8/b84cb8f9f29026c86e9b2954440a0169fcfa103c
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/8/4/84cba1e0f821a31231f3194fe15739722ee98799
.idea/sonarlint/securityhotspotstore/8/4/84cba1e0f821a31231f3194fe15739722ee98799
.idea/sonarlint/issuestore/b/8/b84cb8f9f29026c86e9b2954440a0169fcfa103c
.idea/sonarlint/securityhotspotstore/index.pb
.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
.idea/sonarlint/issuestore/e/d/ed7eeb788a3c2d500c6d76eefd33296213e3e044
.idea/sonarlint/securityhotspotstore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
.idea/sonarlint/securityhotspotstore/e/d/ed7eeb788a3c2d500c6d76eefd33296213e3e044
.idea/gradle.xml
.idea/misc.xml
.idea/misc.xml
